*.pyc
BasesDeDatos/*
BasesDeDatos
.check
Imagenes/*
Imagenes
Cafeteria/dist
Cafeteria/build/Cafeteria
Cafeteria/build
Cafeteria(Cliente)/node_modules/
Cafeteria(Cliente)/package-lock.json
Cafeteria/Client/node_modules

__pycache__
*.spec

.DS_Store
tmp
build/Cafeteria/*
build\Cafeteria
test
*.zip
